@tailwind base;
@tailwind components;
@tailwind utilities;

.doto-h2 {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "ROND" 0;
  font-size: 50px;
}

.groupBarSelect {
  width: 50%;
  height: 10px;
  background-color: rgb(6, 182, 212);
  border-radius: 10px;
  margin-left: 2%;
  animation-name: GroupBarAnimation;
  animation-duration: 1s;
}

@keyframes GroupBarAnimation {
  from {
    width: 0%;
    background-color: rgb(6, 182, 212);
  }

  to {
    width: 50%;
    background-color: rgb(249, 115, 22);
  }
}
