@tailwind base;
@tailwind components;
@tailwind utilities;

dialog::backdrop {
  backdrop-filter: blur(2px);
}

.doto-h2 {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "ROND" 0;
  font-size: 50px;
}

.groupBarSelectContainerl:hover .groupBarSelectContainer {
  display: flex 1s;
  flex-direction: row;
  justify-content: flex-start;
}

.groupBarSelectContainerl {
  display: flex 1s;
  flex-direction: row;
  justify-content: flex-end;
}

.groupBarSelectLeft {
  width: 50%;
  height: 10px;
  background-color: rgb(6, 182, 212);
  border-radius: 10px;
  margin-left: 2%;
}

.groupBarSelectRight {
  width: 45%;
  height: 10px;
  background-color: rgb(249, 115, 22);
  border-radius: 10px;
  margin-left: 2%;
}
