[Unit]
Description=ride sharing api

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=3
Environment=RS_HOST_ADDR="<VALUE>"
Environment=RS_WEB_APP_ADDR="<VALUE>"
Environment=RS_SECRET_AUTH_TOKEN="<VALUE>"
Environment=RS_GOOGLE_CLIENT_ID="<VALUE>"
Environment=RS_GOOGLE_CLIENT_SECRET="<VALUE>"
ExecStart=/home/guest/ride-sharing/api-server/result-api/bin/main

[Install]
WantedBy=default.target
